<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-heading">
      <h2 class="text-center">Sign up</h2>
      <% flash.each do | name, msg | %>
        <%= content_tag :div, msg, id: "flash#{name}" %>
      <% end %>
    </div>
  <div class="modal-body">

    <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class='error-messages'>
        <h3>Form Invalid</h3>
        <ul>
            <% @user.errors.full_messages.each do |messages| %>
                <li><%= messages %></li>
            <% end %>
        </ul>
      </div>
      <% end %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions login">
        <%= f.submit "Sign up",class:"btn btn-info btn-md" %>
      </div>
      <div class="user-btn">
      <%= link_to "Log in", new_session_path %>
    </div>
    <% end %>

    </div>
  </div>
</div>