<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><%= image_tag("logo-instagram.png", :alt => "logo", :width => "40") %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item project-name">
        RORGram
      </li>
    </ul>
    <div class="search">
      <form class="form-inline my-2 my-lg-0 nana">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
		<% if current_user %>
		<div class="user-btn">
				<%= link_to "<i class='fa fa-user'></i>".html_safe, controller: "profile",action: "profile" %>
				<%= current_user.username %>
				<%= link_to "Log out", session_path('destroy'), method: :delete %>
		</div>
		<% else %>
			<div class="user-btn">
				<%= link_to "Sing up", new_user_path %>
			</div>
			<div class="user-btn">
				<%= link_to "Log in", new_session_path %>
			</div>
		<% end %>
  </div>
</nav>

<section class="container">
		<div class="card">
		<div class="card-header">
		<div class="profile-img">
			<img class="profile-img" src="https://i.pinimg.com/736x/a2/e1/8c/a2e18cbfbcaa8756fe5b40f472eeff45--profile-   picture-profile-pics.jpg"/>
		</div>
		<div class="profile-info">
			<div class="name">missy_elliot</div>
			<div class="location">New York, New York</div>
		</div>
		<div class="time">
			1hr
		</div>
		</div>
		<div class="content">
			<img src="https://images.unsplash.com/photo-1481824429379-07aa5e5b0739?dpr=1&auto=compress,format&fit=crop&w=342&h=&q=80&cs=tinysrgb&crop=" class="content" />
		</div>
		<div class="card-footer">
			<div class="footer-content">
				<span class="likes">241 likes</span>
					<p><span>missy_elliot</span> Currently starring in my own reality show titled, A Modern Cinderella; One Girl’s Search for Love and Shoe.</p>
					<p><span>gary_9198</span> Good Luck!! :D </p>	
					<p><span>samantha_george</span> Beautiful Picture ♥ </p>
					<p><span>charlie.david</span> Heeyyy </p>
				<form class="form">
					<span class="heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
					<span class="add-comment"><input type="text" placeholder="Add a comment..." /></span>
					<span class="options"><i class="fa fa-ellipsis-h"></i></span>
				</form>
			</div>
		</div>
	</div>
	</section>